@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Josefin+Sans&family=Mountains+of+Christmas&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Rubik+Lines&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}